.book-page {
  background: white;
  width: 470px;
  height: 620px;
  box-shadow: inset 0px 0px 0px 1px #eee;
  margin-bottom: 10px;
  display: flex;
}

.book-page > div {
  margin: 45px;
  width: 100%;
}

.book-page-cms > div {
  border: 1px dashed #666;
}

.book-page img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.book-page p {
  font-size: 22px;
  line-height: 28px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

.book-page h1 {
  color: #6367a7;
  text-align: center;
  margin: 0 0 80px 0;
  font-size: 46px;
}
